<p>
    <a href="/api/balance/1" target="_blank">Проверить баланс кошелька #1</a>
</p>
<p>
    <a href="/api/balance/2" target="_blank">Проверить баланс кошелька #2</a>
</p>
<p>
    <a href="/api/transaction/debit/2/rub/100/refund" target="_blank">Добавить 100 руб к кошельку #2 с причиной "refund"</a>
</p>
<p>
    <a href="/api/transaction/debit/2/usd/100/refund" target="_blank">Добавить 100$ к кошельку #2 с причиной "refund"</a>
</p>
<p>
    <a href="/api/transaction/debit/2/rub/100/stock" target="_blank">Добавить 100 руб к кошельку #2 с причиной "stock"</a>
</p>
<p>
    <a href="/api/transaction/credit/2/usd/1/stock" target="_blank">Убавить 1$ у кошелька #2 с причиной "stock"</a>
</p>
<p>
    <a href="/api/transaction/credit/1/usd/1/stock" target="_blank">Убавить 10$ у кошелька #1 с причиной "stock"</a>
</p>
<p>
    <a href="/additional-task" target="_blank">Доп. задание. Просто выводит через print_r массив кол-ва долларов и рублей полученных по причине "refund" за последние 7 дней</a>
</p>